# Hidden directories
.*/

# Gradle build outputs
.gradle/
gradle/
app/build/
build/
*gradle*

# .kiro
.kiro/

# code-review-graph
.code-review-graph/

# .rtk
.rtk/

# dual-graph
.dual-graph/

# Android Studio / IntelliJ
.idea/
*.iml
local.properties

# OS
.DS_Store
Thumbs.db

# Libraries and third party softwares
app/libs/
cmdline-tools.zip
installjava
local.properties

# Data
provider/
shapefile/

